* {
  box-sizing: border-box;
}
body{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}
.container {
  padding: 10px;
  display:flex;
  flex-direction: column;
}

.navbar{
  font-family: 'Oswald', sans-serif;
  background:turquoise;

}
nav a {
  display:block;
  padding: 20px;
  text-decoration: none;
  color:black;
  font-size: 1.1em;
  text-transform:uppercase;
}
.second-content h3{
  font-family: 'Oswald', sans-serif;
  padding-top: 40px;
}
#contact h4 {
  font-family: 'Oswald', sans-serif;
}
.profile_image {
  max-height:120px;
  width:auto;
  margin:auto;
}
img {
  max-height: 160px;
  width:auto;
  margin:auto;
  padding-top:30px;
}

#contact {
  padding-top:5em;
  padding-bottom: 40px;
}
.footernav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Oswald;
  font-size: .7em;
}
.footernav a{
  text-transform: uppercase;
  display:none;
}
.footernav a:last-child {
  display:inline-flex;
}


@media screen and (min-width:768px) {

  .navbar  {
    display:flex;
    flex-direction:column;
  }
  .content-container {
    display:flex;
    flex-direction:row;
  }
  header {
    flex-direction:
  }
  nav,
  .first-content{
  }
  nav a{
    margin:auto;
  }
}
@media screen and (min-width:1024px) {
  .container {
    background-color:blue;
  }
  nav,
  .navbar,
  .content-container {
    display:flex;
    justify-content: space-between;
  }
}
