* {
  box-sizing: border-box;
}
body{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: 1.3em;
}
.container {
  display:flex;
  flex-direction: column;
  margin:2em;
}

.navbar{
  font-family: 'Oswald', sans-serif;
  background: #00b3b3;
  margin-bottom:20px;
}
nav a {
  display:block;
  padding: 20px;
  text-decoration: none;
  color:black;
  font-size: 1.1em;
  text-transform:uppercase;
}
.second-content h3{
  font-family: 'Oswald', sans-serif;
  padding-top: 40px;
}
#contact h4 {
  font-family: 'Oswald', sans-serif;
}
.profile_image {
  margin: 0 auto;
  max-width:100%;
}
img {
  margin: 0 auto;
  max-width:100%;
}
p {
  padding: 10px;
  }
#skills{
    background:#0099cc;
    padding:20px;
}
#skills ul{
  list-style: none;
  padding-left: 0;
  margin-left:0;
}

#contact {
  padding-top:5em;
  padding-bottom: 40px;
}
.footernav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Oswald;
  font-size: .7em;
}
.footernav a{
  text-transform: uppercase;
  display:none;
}
.footernav a:last-child {
  display:inline-flex;
}
.item {
  margin:5px;
}


@media screen and (min-width:768px) {

  .navbar,
  nav,
  .first-content,
  .content-container,
  .content-title {
    display:flex;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding:40px;
  }

  .first-content  {
    flex-direction:row-reverse;
    padding-bottom: 50px;
  }

  .content-container {
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;

  }
  .item {
    flex: 1 45%;
  }
  .content-title {
    display:block;
    }
  .other-content {
    padding-top: 40px;
    width:80%;
    margin:auto;
    }
  .footernav a{
    text-transform: uppercase;
    display:inline;
  }
  .item-bio {
    text-align: left;
  }

}
@media screen and (min-width:1024px) {

  nav,
  .navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .item {
    flex: 1 30%;
  }
  .item-bio {
    flex: 1.5 40%;
    font-size: 1.3em;
  }
  #contact p {
    text-align: center;
  }
  #contact {
    width:60%;
    margin:auto;
    padding-top: 3em;
  }

}
